@font-face {
  font-family: 'Pacifico';
  src: url('Content/Fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('Content/Fonts/PlayfairDisplay-Regular.ttf');
}


h1 {
  font-family: 'PlayfairDisplay', sans-serif;
  color: #030047;
  text-align: center;
  margin-bottom: 0px;
}

h2{
	font-family: 'PlayfairDisplay', sans-serif;
	color: #030047;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
}

p {
	color: #070094;
	text-align: center
}

body{
	background-color:#969CBC;
}